* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	/* main colors */
--main-blue:#04C5FB;
--lighter-blue:#17C8FA;
--lightest-blue:#48D0F6;
--darker-blue:#00A0Cd;
--darkest-blue:#016F8F;

/* complements */
--main-orange:#FF8100;
--lighter-orange:#FF880F;
--lightest-orange:#FFA345;
--darker-orange:#FF8100;
--darkest-orange:#E57400;

/* greys */
--dark-grey: #545454;
--darker-grey:#3f3f3f;
--darkest-grey:#3f3f3f;
--light-grey:#535353;
--lighter-grey:#9a9a9a;
--lightest-grey:#fffbfb;


}


html {
	font-size: 10px;

}

body {
	min-height: 100vh;
	/* background: url(/img/noise.png); */
	background-color: var(--main-blue);
	font-family: "Roboto", sans-serif;
}

#container {
	width:95%;
	margin: 0 auto;
}


#welcome-section {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	line-height: 2;
}

/* min height 0vh improves clamp compatibility with safari */

h1,
h2,button,.quote-div{
	min-height: 0vh;
}

h1 {
	font-size: clamp(1.75rem, 0.7575rem + 3.5448vw, 6.5rem);
	font-weight:750;
	color:var(--lightest-grey);
}


.error{
	margin-top: 50vh;
}

h2 {
	font-size: clamp(1.4rem, 0.7522rem + 2.3134vw, 4.5rem);

	
}

.type-span{
	color:#2e2e2e;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	animation: sliding 3.5s  ;
}


.today-span{
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	width: 0;
animation:bg-fill 1s ease-in 2.5s forwards;

}

#form {
	display: flex;
	justify-content: center;
}

button {
	display: block;
	margin:0 auto;
	background-color:var(--lightest-grey);
	color:#c2660a;
	border: 1px solid var(--darkest-blue);
	padding: 3px;
	transition: background-color 1000ms;
	transition: border-radius 2500ms;
	font-size: clamp(1.5rem, 1.3293rem + 0.6098vw, 2.5rem);
}



.clicked{
	background-color:var(--darkest-orange);
	color:var(--lightest-grey) ;
	box-shadow: none;

}

.quote-div {
	padding: 18px;
	width: 80%;
	border-radius: 15px;
	margin: auto;
	height: auto;
	background: rgba(36, 31, 31, 0.5);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	margin-top:30%;
	animation: 2s anim-lineUp ease-out;	
}

.quote-para{
	font-weight: 650;
	color:var(--lightest-grey);
	font-size: clamp(1.9rem, 1.7976rem + 0.3659vw, 2.5rem);
}

.attribution-para {
	font-weight: 450;
	color:var(--lightest-grey);
	text-align: right;
	font-style: italic;
font-size: clamp(1.5rem, 1.4146rem + 0.3049vw, 2rem);
}


/* animations */

@keyframes sliding {
	0%{
		width:0;
	}
	100%{
		width:100%;
		
	}
}

@keyframes bg-fill {
	0%{
		width:0;
	}
	100%{
		width: 50%;
		background-color: var(--lighter-orange);
		color:var(--lightest-grey);
		text-transform: uppercase;
	}
	
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


/* media queries */

@media (min-width:900px) {

	#form {
	margin-top:10%;
}

	button:hover{
	cursor: pointer;
	background-color:var(--darkest-orange);
	color:var(--lightest-grey) ;
	border-radius: 50px;
}

.quote-div {
	margin-top:5%;
	margin-bottom:4rem;
	width: 50%;
	height: auto;
}

}